@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --fluid-size-thin: clamp(0.51rem, -0.03vi + 0.52rem, 0.48rem);
  --fluid-size-xs: clamp(0.64rem, -0.01vi + 0.64rem, 0.63rem);
  --fluid-size-sm: clamp(0.8rem, 0.02vi + 0.8rem, 0.82rem);
  --fluid-size-base: clamp(1rem, 0.06vi + 0.99rem, 1.06rem);
  --fluid-size-md: clamp(1.25rem, 0.13vi + 1.22rem, 1.38rem);
  --fluid-size-lg: clamp(1.56rem, 0.23vi + 1.52rem, 1.8rem);
  --fluid-size-xl: clamp(1.95rem, 0.38vi + 1.88rem, 2.33rem);
  --fluid-size-xxl: clamp(2.44rem, 0.59vi + 2.32rem, 3.03rem);
  --fluid-size-xxxl: clamp(3.05rem, 0.89vi + 2.87rem, 3.94rem);
  --fluid-size-4xl: clamp(3.81rem, 1.31vi + 3.55rem, 5.13rem);
  --fluid-size-5xl: clamp(4.77rem, 1.9vi + 4.39rem, 6.67rem);
  --fluid-size-6xl: clamp(5.96rem, 2.71vi + 5.42rem, 8.67rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: hsl(0, 0%, 85%);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  background: linear-gradient(to bottom, black 35%, hsl(0, 0%, 8%));
  min-height: 100svh;
  display: grid;
}

body::before,
body::after {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1235612356100;
  pointer-events: none;
  opacity: 20%;
}
body::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

@keyframes slide {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-100%); /* The image width */
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .center {
    margin-inline: auto;
    width: min(100%, 78ch);
  }

  .box-wrapper {
    padding-block: 3rem;
    padding-inline: 1.5rem;
  }

  .divider {
    aspect-ratio: 19/10;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .stars {
    width: 100%; /* The image width times 3 */
    animation: slide 60s linear infinite;
    background-repeat: repeat-x;
    background-image: radial-gradient(
        white,
        rgba(255, 255, 255, 0.2) 2px,
        transparent 1px
      ),
      radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
      radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 1px),
      radial-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1) 2px,
        transparent 1px
      ),
      radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 1px),
      radial-gradient(white, rgba(255, 255, 255, 0.3) 2px, transparent 1px);
    background-size:
      550px 550px,
      350px 350px,
      250px 250px,
      150px 150px,
      400px 400px,
      300px 300px;
    background-position:
      0 0,
      40px 60px,
      130px 270px,
      70px 100px,
      50px -150px,
      20px -50px;
    background-attachment: fixed;
  }
  .layer {
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-image: url("data:image/svg+xml,%0A%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 344L22.8 349.8C45.7 355.7 91.3 367.3 137 364.5C182.7 361.7 228.3 344.3 274 336.5C319.7 328.7 365.3 330.3 411.2 341.5C457 352.7 503 373.3 548.8 372.2C594.7 371 640.3 348 686 347C731.7 346 777.3 367 823 374.3C868.7 381.7 914.3 375.3 937.2 372.2L960 369L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z' fill='%23191919'%3E%3C/path%3E%3Cpath d='M0 365L22.8 367.2C45.7 369.3 91.3 373.7 137 375C182.7 376.3 228.3 374.7 274 377.7C319.7 380.7 365.3 388.3 411.2 395C457 401.7 503 407.3 548.8 409.8C594.7 412.3 640.3 411.7 686 405.7C731.7 399.7 777.3 388.3 823 384.8C868.7 381.3 914.3 385.7 937.2 387.8L960 390L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z' fill='%23141414'%3E%3C/path%3E%3Cpath d='M0 453L22.8 451.8C45.7 450.7 91.3 448.3 137 449.2C182.7 450 228.3 454 274 445.8C319.7 437.7 365.3 417.3 411.2 406.5C457 395.7 503 394.3 548.8 400.3C594.7 406.3 640.3 419.7 686 430.5C731.7 441.3 777.3 449.7 823 444.5C868.7 439.3 914.3 420.7 937.2 411.3L960 402L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z' fill='%230f0f0f'%3E%3C/path%3E%3Cpath d='M0 446L22.8 450.3C45.7 454.7 91.3 463.3 137 463.5C182.7 463.7 228.3 455.3 274 456.2C319.7 457 365.3 467 411.2 464.5C457 462 503 447 548.8 442.5C594.7 438 640.3 444 686 444.5C731.7 445 777.3 440 823 440C868.7 440 914.3 445 937.2 447.5L960 450L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z' fill='%23080808'%3E%3C/path%3E%3Cpath d='M0 511L22.8 506.3C45.7 501.7 91.3 492.3 137 487.3C182.7 482.3 228.3 481.7 274 482.3C319.7 483 365.3 485 411.2 490.5C457 496 503 505 548.8 503.7C594.7 502.3 640.3 490.7 686 485.3C731.7 480 777.3 481 823 485.2C868.7 489.3 914.3 496.7 937.2 500.3L960 504L960 541L937.2 541C914.3 541 868.7 541 823 541C777.3 541 731.7 541 686 541C640.3 541 594.7 541 548.8 541C503 541 457 541 411.2 541C365.3 541 319.7 541 274 541C228.3 541 182.7 541 137 541C91.3 541 45.7 541 22.8 541L0 541Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E");
  }

  .heading-1-humane {
    @apply font-humane font-medium uppercase tracking-wider;
  }
  .heading-2-humane {
    @apply font-humane font-semibold uppercase tracking-wide;
  }

  .heading-2-geist {
    @apply font-geist font-extrabold uppercase tracking-tight;
  }

  .heading-3-geist {
    @apply font-geist font-extrabold uppercase tracking-tight;
  }
}

* {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

@media (max-width: 768px) {
  .stars {
    animation: slide 20s linear infinite;
  }
}
